.container
  .page-header
    .navbar
      .navbar-inner
        %a.brand
          %h4
            {{main_page_header}}
        %ul.nav.pull-right
          {{#if is_main_page}}
          %li.active
            {{else}}
          %li
            {{/if}}
            %a{href: '#'}
              %h4
                {{back_to_main_page}}
  .main
  %hr
  .footer
    %p
      &copy; Company 2012
