.row
  .span5
  .span3
    %h2
      {{start}}
  .span4

.row.sex-buttons
  .span1
  .span4
    %button.btn.btn-large.btn-block.select-sex{ data: { sex: 'boy' } }
      %h2
        {{boy}}
  .span2
  .span4
    %button.btn.btn-large.btn-block.select-sex{ data: { sex: 'girl' } }
      %h2
        {{girl}}
  .span1
