.row
  .span5
  .span3
    %h2
      {{start}}
  .span4

.row.sex-buttons
  .span1
  = link_to 'javascript:void(0)' do
    .span3.btn.btn-large
      %h2
        {{boy}}
  .span3
  = link_to 'javascript:void(0)' do
    .span3.btn.btn-large
      %h2
        {{girl}}
  .span1
